<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Blog</title>
    <link rel="icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column h-100 flex-grow-1">
    <header>
        <div class="container">
            <div class="blog-header lh-1 py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 pt-1" id="navbar1menu">
                    </div>
                    <div class="col-4 text-center">
                        <a class="blog-header-logo text-dark" asp-controller="Home" asp-action="Index">My Blog</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="link-secondary" asp-controller="Account" asp-action="Index"><i class="fa-solid fa-user mx-3"></i></a>
                            <a class="btn btn-sm btn-outline-secondary" asp-controller="Account" asp-action="Logout">Logout</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-outline-secondary" asp-controller="Account" asp-action="Login">Login</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="nav-scroller py-1 mb-2">
                    <nav class="nav d-flex justify-content-between">
                        <a asp-controller="blog" asp-action="category" asp-route-id="World">World</a>
                        <a asp-controller="blog" asp-action="category" asp-route-id="Local">Local</a>
                        <a asp-controller="blog" asp-action="category" asp-route-id="Technology">Technology</a>
                        <a asp-controller="blog" asp-action="category" asp-route-id="Design">Design</a>
                        <a asp-controller="blog" asp-action="category" asp-route-id="Culture">Culture</a>
                        <a asp-controller="blog" asp-action="category" asp-route-id="Business">Business</a>
                        <a asp-controller="blog" asp-action="category" asp-route-id="Politics">Politics</a>
                        <a asp-controller="blog" asp-action="category" asp-route-id="Opinion">Opinion</a>
                        <a asp-controller="blog" asp-action="category" asp-route-id="Science">Science</a>
                        <a asp-controller="blog" asp-action="category" asp-route-id="Health">Health</a>
                        <a asp-controller="blog" asp-action="category" asp-route-id="Style">Style</a>
                        <a asp-controller="blog" asp-action="category" asp-route-id="Travel">Travel</a>
                    </nav>
                </div>
            }
        </div>
    </header>
    <main role="main" class="flex-grow-1">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer>
        <div class="blog-footer">
            <p>Blog made in ASP.net MVC</p>
            <p>
                <span id="wsconnidlabel"></span>
                <span id="wsstateLabel"></span>
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.all.min.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.full.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
