@model aspnetmvc_blog.Models.Views.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<h3 class="text-danger">An error occurred while processing your request</h3>
<h1 class="text-danger">
    @Model.ErrorType
    @if (Model.ErrorType == "401")
    {
        <span>
            - Unauthorized Access.
        </span>
    }
    @if (Model.ErrorType == "403")
    {
        <span>
            - Forbidden Access.
        </span>
    }
    @if (Model.ErrorType == "404")
    {
        <span>
            - Page not Found
        </span>
    }
    @if (Model.ErrorType == "405")
    {
        <span>
            - Page not Allowed
        </span>
    }
    @if (Model.ErrorType == "400")
    {
        <span>
            - Bad Request
        </span>
    }
</h1>
<h3 class="text-danger">
    @if (Model.ErrorType == "401")
    {
        <span>
            You dont have access to page this page. Please login your account.
        </span>
    }
    @if (Model.ErrorType == "403")
    {
        <span>
            Your account doesnt have enough authorization to access this page.
        </span>
    }
    @if (Model.ErrorType == "404")
    {
        <span>
            The page you are looking for is doesnt exists.
        </span>
    }
    @if (Model.ErrorType == "405")
    {
        <span>
            This is not a webpage.
        </span>
    }
</h3>
<p>@Model.RequestId</p>
<p>@Model.ReturnUrl</p>