@model aspnetmvc_blog.Models.User
@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit">
    <h2>@ViewData["Title"]
        <input type="submit" value="Submit" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="UserStatus" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group required">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" required />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group required">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group required">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" required />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
