@model aspnetmvc_blog.Models.UserRole
@{
    ViewData["SelectedName"] = (ViewData["SelectedName"] != null) ? " for " + ViewData["SelectedName"] : "";
    ViewData["Title"] = "New Role " + ViewData["SelectedName"];
}
<form asp-action="Create">
    <h2>
        @ViewData["Title"]
        <input type="submit" value="Submit" class="btn btn-primary" />
        <a asp-action="Index" asp-route-id="@ViewData["SelectedId"]" class="btn btn-secondary">Back to List</a>
    </h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
            <div class="form-group required">
                <label asp-for="UserRoleOrder" class="control-label"></label>
                <input asp-for="UserRoleOrder" class="form-control" required />
                <span asp-validation-for="UserRoleOrder" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script language="JavaScript" type="text/javascript">
        $(document).ready(function () {
            $('#RoleId').select2();
            $('#UserId').select2();
        });
    </script>
}
