@model aspnetmvc_blog.Models.Views.BlogDataViewModel
@{
    ViewData["Title"] = "Create";
}
Admin Blog Page
<a asp-action="Create" class="btn btn-secondary">Create</a>
<a asp-action="Edit" class="btn btn-secondary">Edit</a>
<br />
Under Construction